<div class='d-flex flex-column justify-content-center align-items-center text-center' style="height:100vh;">
    <h1 class='fixed-center text-primary'> Budget App </h1>
    <div class='d-flex flex-column fixed-bottom align-items-center justify-conten-center text-align-center'>
        <%= link_to "LOG IN", new_user_session_path(), class:'w-100 nav-link bg-primary text-white p-3' %>
        <%= link_to "SIGN UP", new_user_registration_path(), class:'nav-link text-dark' %>
    </div>
    
</div>